<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Angular & Bootstrap</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="home">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="contact">Contact</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">

    <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://coffee.com/" target="_blank">
          <fa-icon [icon]="faCoffee" class =" text-danger"></fa-icon>
        </a>
        <a class="nav-item nav-link" href="https://github.com/" target="_blank">
          <fa-icon [icon]="faCalendarPlus" class =" text-danger"></fa-icon>
        </a>
        <a class="nav-item nav-link" href="https://github.com/" target="_blank">
          <fa-icon [icon]="faAddressBook" class =" text-danger"></fa-icon>
        </a>
    </div>
  </div>
</nav>

<nav class="navbar is-dark">
